<div class="card mb-4 shadow-sm">

  <img class="bd-placeholder-img card-img-top" width="100%" [src]="https://i.pinimg.com/originals/b8/95/88/b895880bbfa891c338a335c9e543780a.jpg"/>
  <div class=" cart-body">
    <p class="card-text">
      <strong>{{productItem.price |currency:'INR'}}</strong>
    </p>
    <div class=" cart-body">
      <p class="card-text">
        <strong>{{productItem.description}}</strong>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-primary-btn">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary-btn">View Details</button>
        </div>

      </div>
    </div>
  </div>




  </div>
